# 사고 다발지역 동별 카운트
- dacon 대회 데이터로 제공받은 대구 빅데이터 마트 공간데이터와 행정별 공간데이터를 활용한다.
#
- 행정별 데이터: 2018년 기준
#
- 사고 다발지역 데이터
  - 보행노인사고 다발지역: 2021년 기준
  - 보행자 무단 횡단사고 다발지역: 2020년 기준
  - 결빙사고 다발지역: 2021년 기준
  - 화물차사고 다발지역: 2021년 기준
  - 보행자사고 다발지역: 2021년 기준

In [113]:
import geopandas as gpd
import pandas as pd

In [114]:
IMPORT_DATA_ROOT_PATH = './externals'
EXPORT_DATA_ROOT_PATH = '../../main/data/origin/additionals'

## 데이터 출처 정보 (1)
- 대구 빅데이터 활용센터
- 8-1. 행정구역 지리정보
- 9-1. 유동인구 소블럭 기준
- 대구 빅데이터 활용센터 내부에서 전처리된 데이터셋 파일명
  - 8_1_jiri_dong.shp
#
- 대구 빅데이터 활용센터 외부에서 2차 전처리 후 저장한 파일명:
  - jiri_dong_area_size.csv

In [117]:
# 출처 (1): 대구 빅데이터 활용센터 8-1. 행정지리
jiri_dong_path = f'{IMPORT_DATA_ROOT_PATH}/대구_빅데이터_활용센터/8_1_jiri_dong.shp'
jiri_gu_path = f'{IMPORT_DATA_ROOT_PATH}/대구_빅데이터_활용센터/8_1_jiri_sigungu.shp'

## 데이터 출처 정보 (2)
- 데이콘 대회에서 제공받음
  - 대구 빅데이터 활용센터 출처
  #
- 제공받은 데이터셋 파일명
  - 11. 보행자사고 다발지역/보행자사고 다발지역_100.gpkg
  - 2. 보행노인사고 다발지역/보행노인사고 다발지역_100.gpkg
  - 5. 보행자무단횡단사고 다발지역/보행자무단횡단사고 다발지역_100.gpkg
  - 8. 결빙사고 다발지역/결빙사고 다발지역 _100.gpkg
  - 9. 화물차사고 다발지역/화물차사고 다발지역_100.gpkg
  #
- 전처리 후 저장한 파일명
  - pedestrian.csv
  - old_pedestrian.csv
  - bad_pedestrian.csv
  - frozen_road.csv
  - truck.csv

In [118]:
pedestrian_path = f'{IMPORT_DATA_ROOT_PATH}/대구_빅데이터_마트_데이터셋/11. 보행자사고 다발지역/보행자사고 다발지역_100.gpkg'
old_pedestrian_path = f'{IMPORT_DATA_ROOT_PATH}/대구_빅데이터_마트_데이터셋/2. 보행노인사고 다발지역/보행노인사고 다발지역_100.gpkg'
bad_pedestrian_path = f'{IMPORT_DATA_ROOT_PATH}/대구_빅데이터_마트_데이터셋/5. 보행자무단횡단사고 다발지역/보행자무단횡단사고 다발지역_100.gpkg'
frozen_road_path = f'{IMPORT_DATA_ROOT_PATH}/대구_빅데이터_마트_데이터셋/8. 결빙사고 다발지역/결빙사고 다발지역 _100.gpkg'
truck_path = f'{IMPORT_DATA_ROOT_PATH}/대구_빅데이터_마트_데이터셋/9. 화물차사고 다발지역/화물차사고 다발지역_100.gpkg'

In [119]:
pedestrian = gpd.read_file(pedestrian_path)
old_pedestrian = gpd.read_file(old_pedestrian_path)
bad_pedestrian = gpd.read_file(bad_pedestrian_path)
frozen_road = gpd.read_file(frozen_road_path)
truck = gpd.read_file(truck_path)

In [120]:
pedestrian = pedestrian.dropna()
old_pedestrian = old_pedestrian.dropna()
bad_pedestrian = bad_pedestrian.dropna()
frozen_road = frozen_road.dropna()
truck = truck.dropna()

In [121]:
truck.head(1)

,id,count,occrrnc_cnt_sum,occrrnc_cnt_mean,caslt_cnt_sum,caslt_cnt_mean,dth_dnv_cnt_sum,dth_dnv_cnt_mean,se_dnv_cnt_sum,se_dnv_cnt_mean,sl_dnv_cnt_sum,sl_dnv_cnt_mean,wnd_dnv_cnt_sum,wnd_dnv_cnt_mean,geometry
16508,43224,1.0,4.0,4.0,5.0,5.0,0.0,0.0,4.0,4.0,0.0,0.0,1.0,1.0,"MULTIPOLYGON (((1086432.542 1763487.411, 10865..."

In [122]:
frozen_road.head(1)

,id,count,occrrnc_cnt_sum,occrrnc_cnt_mean,caslt_cnt_sum,caslt_cnt_mean,dth_dnv_cnt_sum,dth_dnv_cnt_mean,se_dnv_cnt_sum,se_dnv_cnt_mean,sl_dnv_cnt_sum,sl_dnv_cnt_mean,wnd_dnv_cnt_sum,wnd_dnv_cnt_mean,geometry
48529,95393,1.0,3.0,3.0,4.0,4.0,0.0,0.0,2.0,2.0,2.0,2.0,0.0,0.0,"MULTIPOLYGON (((1097832.542 1767787.411, 10979..."

In [123]:
pedestrian.head(1)

,id,count,occrrnc_cnt_sum,occrrnc_cnt_mean,caslt_cnt_sum,caslt_cnt_mean,dth_dnv_cnt_sum,dth_dnv_cnt_mean,se_dnv_cnt_sum,se_dnv_cnt_mean,sl_dnv_cnt_sum,sl_dnv_cnt_mean,wnd_dnv_cnt_sum,wnd_dnv_cnt_mean,geometry
23897,55144,1.0,4.0,4.0,5.0,5.0,0.0,0.0,4.0,4.0,1.0,1.0,0.0,0.0,"MULTIPOLYGON (((1089032.542 1762287.411, 10891..."

In [124]:
df_accidents = {
  'pedestrian': pedestrian,
  'old_pedestrian': old_pedestrian,
  'bad_pedestrian': bad_pedestrian,
  'frozen_road': frozen_road,
  'truck': truck
}

for k,v in df_accidents.items():
  print(k, len(v.index))

pedestrian 287
old_pedestrian 64
bad_pedestrian 378
frozen_road 30
truck 202

In [147]:
jiri_dong = gpd.read_file(jiri_dong_path)
jiri_gu = gpd.read_file(jiri_gu_path).iloc[:, 2:]

In [148]:
df_jiri = {
  'dong': jiri_dong,
  'gu': jiri_gu
}

In [149]:
jiri_dong

    dong_nm                                           geometry
0     동인동1가  POLYGON ((1099906.269 1764700.534, 1099896.616...
1     동인동2가  POLYGON ((1099361.709 1764418.397, 1099375.534...
2     동인동3가  POLYGON ((1100221.347 1764840.322, 1100266.053...
3     동인동4가  POLYGON ((1100597.124 1764210.863, 1100640.315...
4     삼덕동1가  POLYGON ((1098895.448 1764086.793, 1098934.353...
..      ...                                                ...
207     부계면  POLYGON ((1105127.967 1792638.120, 1105248.139...
208     우보면  POLYGON ((1104481.109 1803197.883, 1104473.689...
209     의흥면  POLYGON ((1113090.973 1801365.681, 1113151.144...
210     산성면  POLYGON ((1109794.169 1795517.527, 1109810.047...
211   삼국유사면  POLYGON ((1119232.345 1803155.740, 1119430.242...

[212 rows x 2 columns]

In [150]:
jiri_gu

  sigungu_nm                                           geometry
0         중구  POLYGON ((1097857.218 1765177.561, 1097872.134...
1         동구  POLYGON ((1107777.596 1780522.263, 1107845.409...
2         서구  POLYGON ((1094929.282 1767244.458, 1094939.136...
3         남구  POLYGON ((1097010.572 1763145.859, 1097030.717...
4         북구  POLYGON ((1100413.419 1776575.012, 1100415.868...
5        수성구  POLYGON ((1103905.976 1765250.085, 1103921.812...
6        달서구  POLYGON ((1091387.729 1763977.918, 1091424.370...
7        달성군  MULTIPOLYGON (((1089667.472 1758560.378, 10896...

In [158]:
def find_gu(geometry, name):
  dong = []
  for idx in df_jiri[name].index:
    if name == 'gu':
      if geometry.within(df_jiri[name].iloc[idx]['geometry']):
        dong.append(df_jiri[name].iloc[idx, 0])
    else:
      if geometry.intersects(df_jiri[name].iloc[idx]['geometry']):
        dong.append(df_jiri[name].iloc[idx, 0])
  return ','.join(dong)

In [159]:
for area in jiri_dong.keys():
  for acc in df_accidents.keys():
    df_accidents[acc] = df_accidents[acc].apply(
      lambda row: pd.Series({**row, 'dong': find_gu(row['geometry'], 'dong')}),
      axis=1
    )
    df_accidents[acc] = df_accidents[acc].apply(
      lambda row: pd.Series({**row, 'gu': find_gu(row['geometry'], 'gu')}),
      axis=1
    )

In [160]:
df_accidents['pedestrian'].iloc[0]

id                                                              55144
count                                                             1.0
occrrnc_cnt_sum                                                   4.0
occrrnc_cnt_mean                                                  4.0
caslt_cnt_sum                                                     5.0
caslt_cnt_mean                                                    5.0
dth_dnv_cnt_sum                                                   0.0
dth_dnv_cnt_mean                                                  0.0
se_dnv_cnt_sum                                                    4.0
se_dnv_cnt_mean                                                   4.0
sl_dnv_cnt_sum                                                    1.0
sl_dnv_cnt_mean                                                   1.0
wnd_dnv_cnt_sum                                                   0.0
wnd_dnv_cnt_mean                                                  0.0
geometry            MULTIPOLYGON (((1089032.5416 1762287.4112, 108...
dong                                                              호산동
gu                                                                달서구
Name: 23897, dtype: object

In [161]:
df_accidents['bad_pedestrian']['dong'].isna().sum()

0

In [162]:
df_accidents['bad_pedestrian']['gu'].isna().sum()

0

In [163]:
df_accidents['bad_pedestrian']['dong'].unique()

array(['관음동', '관음동,태전동', '태전동', '송현동', '상인동,송현동', '상인동', '읍내동,관음동',
       '읍내동,관음동,태전동', '읍내동', '읍내동,태전동', '대명동,송현동', '대명동', '동천동',
       '구암동,동천동', '평리동', '두류동', '국우동,구암동,동천동', '구암동', '국우동,구암동',
       '비산동,평리동', '비산동', '학정동,국우동', '국우동', '침산동,노원동1가',
       '원대동2가,고성동3가,침산동,노원동1가', '원대동2가,고성동3가', '고성동3가', '침산동',
       '고성동3가,침산동', '칠성동2가,고성동3가,침산동', '칠성동2가,침산동', '칠성동2가,고성동3가',
       '칠성동2가', '종로1가,포정동,서문로1가,대안동', '상서동,종로1가,포정동', '장관동,상서동,종로1가,종로2가',
       '포정동,대안동', '전동,포정동', '종로1가,전동,포정동', '종로1가,종로2가,동일동,남일동,전동',
       '장관동,종로2가,남일동', '포정동,대안동,북성로1가,향촌동', '포정동,대안동,향촌동',
       '종로1가,남일동,전동,포정동', '동일동,남일동,전동', '종로2가,남일동,동성로3가', '화전동,향촌동',
       '포정동,화전동,향촌동', '사일동,남일동,포정동', '사일동,남일동,동성로2가,포정동', '사일동,동일동,남일동',
       '사일동,남일동,동성로3가,동성로2가', '동성로1가,화전동', '동문동,동성로2가,포정동,동성로1가,화전동',
       '사일동,동성로2가,포정동', '사일동,동성로2가', '삼덕동1가,사일동,공평동,동성로2가',
       '동문동,동성로2가,교동,동성로1가', '동문동,문화동,동성로2가', '문화동,동성로2가',
       '문화동,공평동,동성로2가', '봉덕동', '이천동,봉덕동', '효목동', '효목동,만촌동', '만촌동', '매호동',
       '매호동,노변동', '노변동', '매호동,신매동,노변동', '신매동,노변동', '매호동,신매동', '신매동'],
      dtype=object)

In [164]:
df_accidents['bad_pedestrian']['gu'].unique()

array(['북구', '달서구', '', '남구', '서구', '중구', '동구', '수성구'], dtype=object)

# 구 보류

In [93]:
def separate_multiple_areas(df: gpd.GeoDataFrame):
  df = df.copy()
  new_gdf = []
  for idx, row in df.iterrows():
    area = row['dong'].split(',')
    if len(area) > 1:
      df.loc[idx, 'dong'] = area[0]
      for i in range(1, len(area)):
        new_gdf.append({**row, 'dong': area[i]})
  return pd.concat([df, pd.DataFrame(new_gdf)]).reset_index(drop=True)

In [94]:
for k,v in df_accidents.items():
  new_df = separate_multiple_areas(v)
  df_accidents[k] = new_df

In [95]:
for k,v in df_accidents.items():
  df_accidents[k] = v.drop(columns=['geometry'])

df_accidents['bad_pedestrian'].head()

,id,count,occrrnc_cnt_sum,occrrnc_cnt_mean,caslt_cnt_sum,caslt_cnt_mean,dth_dnv_cnt_sum,dth_dnv_cnt_mean,se_dnv_cnt_sum,se_dnv_cnt_mean,sl_dnv_cnt_sum,sl_dnv_cnt_mean,wnd_dnv_cnt_sum,wnd_dnv_cnt_mean,dong
0,79327,1.0,4.0,4.0,4.0,4.0,0.0,0.0,1.0,1.0,3.0,3.0,0.0,0.0,관음동
1,79328,1.0,4.0,4.0,4.0,4.0,0.0,0.0,1.0,1.0,3.0,3.0,0.0,0.0,관음동
2,79329,1.0,4.0,4.0,4.0,4.0,0.0,0.0,1.0,1.0,3.0,3.0,0.0,0.0,태전동
3,79330,1.0,4.0,4.0,4.0,4.0,0.0,0.0,1.0,1.0,3.0,3.0,0.0,0.0,태전동
4,79331,1.0,4.0,4.0,4.0,4.0,0.0,0.0,1.0,1.0,3.0,3.0,0.0,0.0,태전동

In [96]:
for k,v in df_accidents.items():
  df_accidents[k] = v.groupby(['dong']).sum()

In [97]:
for k,v in df_accidents.items():
  df_accidents[k] = v.drop(['id', 'count', 'occrrnc_cnt_mean', 'caslt_cnt_mean', 'dth_dnv_cnt_mean', 'se_dnv_cnt_mean', 'sl_dnv_cnt_mean', 'wnd_dnv_cnt_mean', 'wnd_dnv_cnt_sum'], axis=1)\
    .rename(columns={'occrrnc_cnt_sum': '사고건수', 'caslt_cnt_sum': '사상자수', 'dth_dnv_cnt_sum': '사망자수', 'se_dnv_cnt_sum': '중상자수', 'sl_dnv_cnt_sum': '경상자수'}).reset_index()
# occrnc_cnt 사고건수
# caslt_cnt 사상자수
# dth_dnv_cnt 사망자수
# se_dnv_cnt 중상자수
# sl_dnv_cnt 경상자수
# wnd_dnv_cnt 부상신고자수
df_accidents['bad_pedestrian'].head()

    dong  사고건수   사상자수  사망자수  중상자수  경상자수
0  고성동3가  76.0   76.0   0.0  57.0  19.0
1    공평동  10.0   14.0   2.0   4.0   4.0
2    관음동  36.0   36.0   0.0   9.0  27.0
3     교동   5.0    7.0   1.0   2.0   2.0
4    구암동  92.0  100.0  23.0  31.0  31.0

In [98]:
jiri_dong

    dong_nm                                           geometry
0     동인동1가  POLYGON ((1099906.269 1764700.534, 1099896.616...
1     동인동2가  POLYGON ((1099361.709 1764418.397, 1099375.534...
2     동인동3가  POLYGON ((1100221.347 1764840.322, 1100266.053...
3     동인동4가  POLYGON ((1100597.124 1764210.863, 1100640.315...
4     삼덕동1가  POLYGON ((1098895.448 1764086.793, 1098934.353...
..      ...                                                ...
207     부계면  POLYGON ((1105127.967 1792638.120, 1105248.139...
208     우보면  POLYGON ((1104481.109 1803197.883, 1104473.689...
209     의흥면  POLYGON ((1113090.973 1801365.681, 1113151.144...
210     산성면  POLYGON ((1109794.169 1795517.527, 1109810.047...
211   삼국유사면  POLYGON ((1119232.345 1803155.740, 1119430.242...

[212 rows x 2 columns]

In [99]:
jiri_dong['area'] = jiri_dong['geometry'].apply(lambda x: x.area)

In [100]:
jiri_dong

    dong_nm                                           geometry          area
0     동인동1가  POLYGON ((1099906.269 1764700.534, 1099896.616...  1.816472e+05
1     동인동2가  POLYGON ((1099361.709 1764418.397, 1099375.534...  2.042182e+05
2     동인동3가  POLYGON ((1100221.347 1764840.322, 1100266.053...  3.388875e+05
3     동인동4가  POLYGON ((1100597.124 1764210.863, 1100640.315...  2.686843e+05
4     삼덕동1가  POLYGON ((1098895.448 1764086.793, 1098934.353...  1.141811e+05
..      ...                                                ...           ...
207     부계면  POLYGON ((1105127.967 1792638.120, 1105248.139...  6.476271e+07
208     우보면  POLYGON ((1104481.109 1803197.883, 1104473.689...  6.037414e+07
209     의흥면  POLYGON ((1113090.973 1801365.681, 1113151.144...  5.453440e+07
210     산성면  POLYGON ((1109794.169 1795517.527, 1109810.047...  3.696947e+07
211   삼국유사면  POLYGON ((1119232.345 1803155.740, 1119430.242...  1.146503e+08

[212 rows x 3 columns]

# 지리 동별 면적 데이터 저장
- jiri_dong_area_size.csv

In [101]:
jiri_dong.to_csv(f'{EXPORT_DATA_ROOT_PATH}/jiri_dong_area_size.csv')

In [102]:
def calc_mildo_by_area(row: pd.Series):
  row = {**row}
  area = jiri_dong.loc[jiri_dong.iloc[:,0] == row['dong']]['area'].iloc[0]
  for col in ['사고건수',	'사상자수',	'사망자수',	'중상자수',	'경상자수']:
    row[col] = row[col]/area
  return pd.Series(row)

for k,v in df_accidents.items():
  df_accidents[k] = v.apply(
    lambda row: calc_mildo_by_area(row),
    axis=1
  )

df_accidents['bad_pedestrian']

     dong      사고건수      사상자수          사망자수          중상자수          경상자수
0   고성동3가  0.000236  0.000236  0.000000e+00  1.768870e-04  5.896232e-05
1     공평동  0.000100  0.000140  1.994506e-05  3.989011e-05  3.989011e-05
2     관음동  0.000011  0.000011  0.000000e+00  2.853101e-06  8.559302e-06
3      교동  0.000117  0.000164  2.344975e-05  4.689949e-05  4.689949e-05
4     구암동  0.000022  0.000023  5.380241e-06  7.251630e-06  7.251630e-06
5     국우동  0.000020  0.000025  5.097668e-06  9.831216e-06  9.831216e-06
6     남일동  0.001154  0.001616  2.308422e-04  4.616844e-04  4.616844e-04
7     노변동  0.000017  0.000017  5.576040e-06  5.576040e-06  5.576040e-06
8   노원동1가  0.000025  0.000025  0.000000e+00  1.864690e-05  6.215633e-06
9     대명동  0.000005  0.000005  0.000000e+00  2.355247e-06  1.570165e-06
10    대안동  0.000565  0.000792  1.130990e-04  2.261981e-04  2.261981e-04
11    동문동  0.000296  0.000415  5.925681e-05  1.185136e-04  1.185136e-04
12  동성로1가  0.001331  0.001864  2.662995e-04  5.325991e-04  5.325991e-04
13  동성로2가  0.000935  0.001310  1.870793e-04  3.741587e-04  3.741587e-04
14  동성로3가  0.000251  0.000351  5.020554e-05  1.004111e-04  1.004111e-04
15    동일동  0.002213  0.003098  4.426229e-04  8.852458e-04  8.852458e-04
16    동천동  0.000072  0.000072  1.789535e-05  1.789535e-05  1.789535e-05
17    두류동  0.000052  0.000063  0.000000e+00  4.179963e-05  1.044991e-05
18    만촌동  0.000008  0.000010  0.000000e+00  4.099250e-06  4.099250e-06
19    매호동  0.000022  0.000022  7.300244e-06  7.300244e-06  7.300244e-06
20    문화동  0.000402  0.000563  8.046301e-05  1.609260e-04  1.609260e-04
21    봉덕동  0.000019  0.000028  0.000000e+00  1.853744e-05  9.268718e-06
22  북성로1가  0.000148  0.000207  2.964042e-05  5.928084e-05  5.928084e-05
23    비산동  0.000011  0.000011  3.106909e-06  1.864145e-06  5.592436e-06
24    사일동  0.002710  0.003794  5.419431e-04  1.083886e-03  1.083886e-03
25  삼덕동1가  0.000044  0.000061  8.758017e-06  1.751603e-05  1.751603e-05
26    상서동  0.000804  0.001125  1.607297e-04  3.214593e-04  3.214593e-04
27    상인동  0.000010  0.000010  2.445818e-06  7.337454e-06  0.000000e+00
28  서문로1가  0.000132  0.000185  2.641905e-05  5.283811e-05  5.283811e-05
29    송현동  0.000072  0.000072  6.184348e-06  4.240696e-05  1.590261e-05
30    신매동  0.000031  0.000031  1.047330e-05  1.047330e-05  1.047330e-05
31  원대동2가  0.000102  0.000102  0.000000e+00  7.679401e-05  2.559800e-05
32    읍내동  0.000008  0.000008  0.000000e+00  1.997015e-06  5.991044e-06
33    이천동  0.000007  0.000011  0.000000e+00  7.486404e-06  3.743202e-06
34    장관동  0.000517  0.000724  1.034435e-04  2.068871e-04  2.068871e-04
35     전동  0.001868  0.002615  3.736333e-04  7.472666e-04  7.472666e-04
36   종로1가  0.000966  0.001353  1.932634e-04  3.865267e-04  3.865267e-04
37   종로2가  0.000676  0.000946  1.351119e-04  2.702237e-04  2.702237e-04
38  칠성동2가  0.000042  0.000042  0.000000e+00  3.132630e-05  1.044210e-05
39    침산동  0.000018  0.000018  0.000000e+00  1.345150e-05  4.483833e-06
40    태전동  0.000017  0.000017  0.000000e+00  4.248172e-06  1.274452e-05
41    평리동  0.000056  0.000056  1.589538e-05  7.497820e-06  3.269050e-05
42    포정동  0.001332  0.001865  2.664496e-04  5.328992e-04  5.328992e-04
43    학정동  0.000002  0.000002  4.520734e-07  9.041468e-07  9.041468e-07
44    향촌동  0.000924  0.001294  1.848254e-04  3.696509e-04  3.696509e-04
45    화전동  0.001172  0.001641  2.344958e-04  4.689915e-04  4.689915e-04
46    효목동  0.000045  0.000057  0.000000e+00  2.270233e-05  2.270233e-05

# 저장

In [103]:
for k,v in df_accidents.items():
  v.to_csv(f'{EXPORT_DATA_ROOT_PATH}/{k}.csv')